@import './variables.scss';
@import './navbar.scss';
@import './aboutme.scss';

body {
	padding-bottom:10px;
}
#textintro{
	margin-bottom:20px;
	clear:left;
	font-weight:bold;
	font-family:serif;
	font-style:italic;
	padding-left:40px;
	font-size: 19px;
}
#search-bar{ 
	padding-left:3px;padding-right:30px;
    margin-left: 40px;
    margin-bottom:8px;
    padding-top: 10px;
    text-align: left;
}
.text-content{
    border-radius: 25px;
	border-style: groove;
}
.mob-img{
	float:right;
	margin-left:30px;
}