.topheading{
	padding-left:40px;
	padding-top: 12px;
	font-family: cursive;
	font-size: 27px;
	font-weight: 900;
}					
.heading a p{
	float:left;
	padding-left:40px;
	margin-bottom: 0rem;
	font-family:serif;
	font-size:22px;
	color:black;
}
.heading img{
	border-radius: 21%;
	margin-left:10px;
	margin-bottom: -8px;
	clear: left;
}
.texts {
	padding-left:40px;
	padding-bottom:10px;
	font-size:13px;
	height:55px;
	overflow:hidden;
	position:relative;
}
.show-more{
	margin-left:40px;
	background-color:lightskyblue;
	font-size:20px;
	margin-bottom: 0rem;
	margin-bottom: 15px;
	border: none;
    border-radius: 42%;
    margin: 12px 34px;
}
.open{
	max-height:500px;
	transition:0.5s;
	padding-left:40px;
	padding-bottom:10px;
	font-size:21px;
	position:relative;
}
.close{
	transition:0.5s;
	padding-left:40px;
	padding-bottom:10px;
	font-size:21px;
	height:55px;
	overflow:hidden;
	position:relative;
}
